@charset "utf-8";
/* CSS Document */

/* begin wrapper */
body {
	background-color: #FFFBBF;
	font-family:"Times New Roman", Times, serif;
}
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFBBF;
}
/* end wrapper */

/* begin nav */
nav {
	width: 960px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #699935;
}
nav li { 
	float: left;
	list-style: none;
	margin: 40px 38px;
}

nav a {
	background-color: #867FFF;
	padding: 15px;
	text-decoration:none;
}
/* end nav */

/* begin content*/
#content {
	width: 935px;
	height: 900px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #699935;
}

h2 {
	padding: 10px;
}
/*welcome*/
#welcome {
	float:left;
	margin: 0 20px 0 20px;
	padding: 0 20px 0 20px;
	background-color: rgba(255,251,191,.3);
}

/* ppm */

#ppm  {
}

#ppm img {
	float:left;
	width: 312px;
	height: 250px;
	padding: 20px;
}
#ppminfo {
	float:right;
	width: 500px;
	height: auto;
	padding: 20px;
	margin: 20px;
	background-color: rgba(255,251,191,.3);
}

#ppmingredients {
	width: auto;
	height: auto;
	padding: 20px;
	margin: 40px;
	float:left;
	background-color: rgba(255,251,191,.3);
	text-align:center;
}
#howtoppm {
}

#howtoppm img {
	float: right;
	width: 274px;
	height: 250px;
	padding: 10px;
	margin: 10px;
}

#howtocookppm{
	float:left;
	width: 800px;
	height: auto;
	background-color: rgba(255,251,191,.3);
	padding: 20px;
	margin: 20px;
}

/* ppm end */
/* bbc */
#bbc {
	
}
#bbc img {
	float:right;
	width: 274px;
	height: 250px;
	padding: 20px;
}
#bbcinfo {
	float:left;
	width: 530px;
	height: auto;
	padding: 20px;
	margin: 20px;
	background-color: rgba(255,251,191,.3);
}
/* bbc end */

/* form */
form {
	float:left;
	padding: 20px;
	margin: 20px;
	width: 350px;
	height: auto;
	background-color: rgba(255,251,191,.3);
}

form ul li {
	list-style: none;
	padding: 10px;
}

input {
	float:right;
}

textarea {
	max-width: 300px;
	width:300px;
	max-height: 250px;
	height: 100px;
}

#forminfo {
	float: right;
	padding: 20px;
	margin: 20px;
	width: 400px;
	height: auto;
	background-color: rgba(255,251,191,.3);
}
/* form end */
/* end content*/


/* begin footer */
footer {
	width: 960px;
	height: auto;
	background-color: #699935;
	text-align:center;
	margin-top: 10px;
}
	
/* end footer */